body {
    font-size: 16px;
    line-height: 1.2em;
    background-color: #DEDEDE;
}
label {
    width: 85px;
    display: inline-block;
    margin: 0.5em 0;
}
#previewWrapper {
    float: left;
    width: 300px;
    height: 300px;
    padding: 50px;
    background-color: #FFF;
}
#preview {
    width: 100%;
    height: 100%;
    background-color: green;
    border: 1px solid red;
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
}
#inputValues, #outputBox {
    float: left;
    width: 400px;
}
#outputBox {
    clear: left;
    width: auto;
    padding: 20px;
    background-color: #FFF;
}